<body>

 
 <mat-toolbar>
  <mat-toolbar-row id="toolbar-principal">
    <a [routerLink]="['/']" id="logo-prefeitura">
      <img src="/assets/SMPED---branco---Vazado.png" alt="Cidade de São Paulo, pessoa com deficiência">
    </a>
    <hr>
    <span><h1>Observatório Municipal da Pessoa com Deficiência</h1></span>    
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar-row _ngcontent-jdf-c52="" id="toolbar-secundaria" class="mat-toolbar-row">
  <img _ngcontent-jdf-c52="" class="logoObservatorio" src="/assets/2019.06.29---Layout-Observatório-Municipal-PCD--COLORIDO-VAZADO.PNG">
  <hr class="dot"_ngcontent-fmj-c1="">
  <span _ngcontent-jdf-c52="">
    Portal de acesso SMPED
  </span>
</mat-toolbar-row>

<!-- 
<button *ngIf="isLoggedIn" type="button" (click)="logout()">Sair</button>
<button *ngIf="!isLoggedIn" type="button" (click)="login()">Entrar</button>
-->

<ng-container *ngIf="!userProfile">
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" (click)="login()">      
      <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
      <img class="icon"src="./assets/login.png">
      <p>Entrar</p>
      <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
    </a>      
  </div> 
</ng-container>

<ng-container *ngIf="userProfile">

  <div class="line">

    <a id="usuario" class="usuario" target="_blank" rel="noopener">               
      <tr *ngIf="userProfile.username">
        <th scope="row">Seja bem vindo(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <td>{{  userProfile.username }}</td>
      </tr>      
    </a>      
</div>
  
  <div class="microsservicos">    
    <div class="line">

      <div class="card-container">
        <a class="card" target="_blank" rel="noopener" href="https://observatorio.smped.prefeitura.sp.gov.br">      
          <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
          <img class="icon"src="./assets/2019.06.29---Layout-Observatório-Municipal-PCD--COLORIDO-VAZADO.PNG">
          <p>Portal Observatório</p>
          <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
        </a>      
      </div> 

      <ng-container *ngIf="userRoleAdmin">
        <div class="card-container">
          <a class="card" target="_blank" rel="noopener" href="https://adm.observatorio.smped.prefeitura.sp.gov.br">      
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
            <img class="icon"src="./assets/2019.06.29---Layout-Observatório-Municipal-PCD--COLORIDO-VAZADO.PNG">
            <p>Portal Administrador</p>
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
          </a>      
        </div> 
      </ng-container>
       
      <div class="card-container">
        <a class="card" target="_blank" rel="noopener" href="http://localhost:8080/auth/realms/master/account/#/">      
          <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
          <img class="icon"src="./assets/myaccount.png">
          <p>Gerenciar minha conta</p>
          <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
        </a>      
      </div> 
      
      <div class="card-container">
        <a class="card" target="_blank" rel="noopener" (click)="logout()">      
          <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
          <img class="icon"src="./assets/logout.png">
          <p>Sair</p>
          <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
        </a>      
      </div>
       
    </div>

    <!--SEGUNDA LINHA PARA OPERADOR-->

    <div class="line">


      <ng-container *ngIf="userRoleAdmin">
        <div class="card-container">
          <a class="card" target="_blank" rel="noopener" href="http://localhost:8080/auth/admin">      
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
            <img class="icon"src="./assets/login.png">
            <p>Gestão de acessos</p>
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
          </a>      
        </div>
      </ng-container>

      <ng-container *ngIf="userRoleAdmin">
        <div class="card-container">
          <a class="card" target="_blank" rel="noopener">      
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
            <img class="icon"src="./assets/importar.png">
            <p>Importador de dados</p>
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
          </a>      
        </div>
      </ng-container>
       
      <ng-container *ngIf="userRoleAdmin">
        <div class="card-container">
          <a class="card" target="_blank" rel="noopener" href="https://configurador-smart.herokuapp.com">      
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->    
            <img class="icon"src="./assets/arquivo-de-banco-de-dados.png">
            <p>Configurador Smart</p>
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
          </a>      
        </div>
      </ng-container>

      <ng-container *ngIf="userRoleAdmin">
        <div class="card-container">
          <a class="card" target="_blank" rel="noopener">      
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg> -->
            <img class="icon"src="./assets/metrics.png">
            <p>Métricas</p>
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
          </a>      
        </div> 
      </ng-container> 
       
    </div>    

  </div>
  
</ng-container>

  </body>